b {
    color: #e4aa48;
    font-family: 'regular';
    font-weight: 200;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: flex-start;
}

.header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.header>img {
    height: 80px;
    width: 80px;
    margin-left: 20px;
}

.header-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 20px;
}

.header-links>a {
    margin-right: 50px;
    font-family: 'medium';
    font-size: 15px;
}

.nameLogo-div {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.title-om {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-content: center;
    padding-left: 30px;
}

.nameLogo {
    font-family: 'bold';
    margin-left: 20px;
    font-size: 14px;
}

.nameLogo-i {
    font-family: 'bold';
    font-size: 14px;
    color: #e4aa48;
    margin-left: 6px;
}

.title-quote {
    font-family: 'regular';
    font-size: 12px;
}

.title-quote-second {
    font-family: 'regular';
    font-size: 12px;
    color: #e4aa48;
}

.heading-small {
    font-family: 'medium';
    color: #e4aa48;
}

.cover-name {
    flex: 1;
}

.cover {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
}

.cover-img {
    flex: 1;
    justify-content: 'center';
    align-content: 'center';
    text-align: center;
    padding-right: 75px;
    padding-left: 75px;
}

.cover-img>img {
    flex: 1;
    height: 450px;
    width: 450px;
}

.cover-content {
    flex: 1;
}

.section {
    flex: 1;
    padding: 80px;
    text-align: center;
    min-height: 350px;
}

.section-sub {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}


.section-sub>p {
    flex: 1;
    padding-left: 100px;
    text-align: start;
}

.section-sub>img {
    width: 400px;
    height: 400px;
}

.workGallery {
    margin-top: 80px;
}

.contact-us-text{
    font-size: 13px;
    margin-top: 70px;
    color: #fcc362;
}

.contactButton {
    background-color: #e4aa48;
    color: #2E2E35;
    font-family: 'bold';
    font-size: 20px;
    border-width: 0px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 60px;
}

.contactButton:hover {
    background-color: #fcc362;
    color: #222227;
}

.section-sub {
    padding-right: 40px;
    padding-left: 40px;
}

.heading-large {
    font-size: 30px;
    font-family: 'bold';
    padding: 0;
}

.cover-img-name {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.section-main-text {
    font-size: 30px;
    font-family: 'bold';
    padding: 0;
    margin: 0
}

.offers {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.contactButtons {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
}

.contact-button {
    margin-right: 50px;
}

.contact-button>img {
    width: 40px;
    height: 40px;
}

.footer {
    flex: 1;
    flex-direction: column;
    background-color: #212121;
    padding: 40px
}

.moveToTop-back {
    flex: 1;
    flex-direction: 'row';
    margin-bottom: 60px;
    text-align: end
}

.moveToTop {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #d69a34;
}

.moveToTop:hover {
    background-color: #e4aa48;
}

.address > p > b{
    font-family: 'medium';
}

.address-full {
    padding-bottom: 40px;
}

.copyright {
    flex: 1;
    text-align: center;
}

/* mobile device css*/
/* mobile device css*/
/* mobile device css*/
/* mobile device css*/
/* mobile device css*/
/* mobile device css*/
/* starts from here */

.header-mobile {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.header-mobile>img {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.header-links-mobile {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: 10px;
}

.header-links-mobile>a {
    margin-right: 15px;
    font-family: 'medium';
    font-size: 11px;
}

.title-om-mobile {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-content: center;
    font-size: 12px;
}


.nameLogo-div-mobile {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.nameLogo-mobile {
    font-family: 'bold';
    margin-left: 18px;
    font-size: 13px;
}

.nameLogo-i-mobile {
    font-family: 'bold';
    font-size: 13px;
    color: #e4aa48;
    margin-left: 2px;
}

.heading-small-mobile {
    font-family: 'medium';
    color: #e4aa48;
}

.cover-name-mobile {
    flex: 1;
}

.cover-mobile {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.cover-img-mobile {
    flex: 1;
    justify-content: 'center';
    align-content: 'center';
    text-align: center;
    margin-top: 20px;
}

.cover-img-mobile>img {
    flex: 1;
    width: 200px;
    height: 200px;
}


.title-quote-second-mobile {
    font-family: 'regular';
    font-size: 10px;
    color: white;
    font-weight: 200;
    margin-bottom: 20px;
}

.cover-content-mobile {
    flex: 1;
    margin-top: 20px;
}

.section-mobile {
    flex: 1;
    padding: 20px;
    text-align: center;
    min-height: 200px;
}

.section-sub-mobile {
    margin-top: 20px;
    font-size: 13px;
}

.section-sub-mobile>img {
    height: 280px;
    width: 280px;
}


.contact-us-text-mobile{
    font-size: 10px;
    margin-top: 25px;
    color: #fcc362;
}


.offers-mobile {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.contactButton-mobile {
    background-color: #e4aa48;
    color: #2E2E35;
    font-family: 'bold';
    font-size: 16px;
    border-width: 0px;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
}

.contactButton-mobile:hover {
    background-color: #fcc362;
    color: #222227;
}

.section-sub-mobile {
    padding-right: 20px;
    padding-left: 20px;
}

.heading-large-mobile {
    font-size: 22px;
    font-family: 'bold';
    padding: 0;
    margin: 0;
}

.cover-img-name-mobile {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.section-main-text-mobile {
    font-size: 20px;
    font-family: 'bold';
    padding: 0;
    margin: 0
}

.contactButtons-mobile {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}

.contactButtons-mobile>a {
    flex: 1;
    justify-content: center;
    text-align: center;
}

.contact-button-mobile {
    flex: 1;
    justify-content: center;
    text-align: center;
    margin-right: 5px;
    margin-top: 10px;
}

.contact-button-mobile>img {
    width: 20px;
    height: 20px;
}

.contact-button-mobile>p {
    margin-top: 5px;
    font-size: 12px;
}

.footer-mobile {
    flex: 1;
    flex-direction: column;
    background-color: #212121;
    padding: 20px;
    padding-bottom: 10px;
}

.moveToTop-back-mobile {
    flex: 1;
    flex-direction: 'row';
    margin-bottom: 30px;
    text-align: end
}

.moveToTop-mobile {
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: #d69a34;
}

.moveToTop-mobile:hover {
    background-color: #e4aa48;
}

.copyright-mobile {
    flex: 1;
    text-align: center;
    font-size: 10px;
}


.address-mobile > p {
    font-size: 12px;
}